.formPanel {
  background: #000;
}

.brandLogo {
  filter: drop-shadow(0 3px 9px rgba(0, 0, 0, 0.24));
}

.brandText {
  text-shadow: 0 2px 9px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1023px) {
  .formPanel {
    background: #000;
  }
}
